html{
	font-size: 16px;
	font-family: 'segoe UI';
}

h1{
	color: black;
	font-size: 72px;

}

h2{
	font-family: 'inter';
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.content{
	max-width: 52rem;
	margin: auto;
	padding: 0 2rem;
}

.red-box{
	display: block;
	position: relative;
	background: red;
	height: 100px;
	width: 200px;
	top: 50px;
	right: 50px;
}

.FlexContainer{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}

.FlexSection{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 48px;

}

.SectionHeader{
	width: 5em;
	margin: 0 24px 16px 0;
}

.SectionContent{
	display: flex;
	flex:1;
	flex-basis: 20em;
	flex-direction: column;
}

.SectionContent p {
	margin:0
}

ul.ListA{
	list-style-type: none;
    margin: 0;
    padding: 0;
}